<section>
    <h2><i class="fa fa-info fa-3x" aria-hidden="true"></i> Acerca</h2>
    <p>La aplicación permite diseñar automatas a nivel gráfico y lógico, incluye herramientas para realizar las siguientes acciones.</p>
</section>

<section>
    <table>
        <thead>
            <tr>
                <th><center>Herramienta</center></th>
                <th><center>Acción 1</center></th>
                <th><center>Acción 2</center></th>
                <th><center>Acción 3</center></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DFA</td>
                <td>Evaluar cadena</td>
                <td>Transformar a NFA</td>
                <td>Transformar a regex</td>
            </tr>
            <tr>
                <td>NFA</td>
                <td>Evaluar cadena</td>
                <td>Transformar a DFA</td>
                <td>Transformar a regex</td>
            </tr>
            <tr>
                <td>Regex</td>
                <td>Evaluar cadena</td>
                <td>Transformar a DFA</td>
                <td>Transformar a NFA</td>
            </tr>
            <tr>
                <td>CFG</td>
                <td>Evaluar cadena</td>
                <td>Transformar a CNF</td>
                <td>-</td>
            </tr>
            <tr>
                <td>PDA</td>
                <td>Evaluar cadena</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Turing Machine</td>
                <td>Evaluar cadena</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h2><i class="fa fa-code-fork fa-3x" aria-hidden="true"></i>Librerías </h2>
    <li><a href="https://github.com/evanw/fsm">Finite State Machine Designer</a></li>
    <li><a href="https://github.com/mdaines/viz.js/">Viz JS</a></li>
</section>

<section>
    <h2><i class="fa fa-code-fork fa-3x" aria-hidden="true"></i>Desarrolladores </h2>
    <li>Carlos Morazán</li>
    <li>David Discua</li>
    <li>Dennis Cheong</li>   
    <li>Katherine Lozano</li>
</section>

<section>
    <h2><i class="fa fa-github fa-3x" aria-hidden="true"></i>GitHub </h2>
    El código fuente de la aplicación se encuentra en Github en el siguiente enlace :
    <a href="https://github.com/DavidDiscua/TeoriaDeLaComputacion">Proyecto Teoría de la Computación.</a>
</section>  