<section>
    <h2><i class="fa fa-info fa-3x" aria-hidden="true"></i> Acerca</h2>
    <p>La aplicación permite diseñar automatas a nivel gráfico y lógico, incluye herramientas para probar cadenas en los automatas diseñados</p>
    <section>
    <h3>Lenguajes Regulares</h3>
        <p>Los lenguajes regulares son ...</p>
        <h4>DFA</h4>
        <p></p>

        <h4>NFA</h4>
        <p></p>

        <h4>Regex</h4>
        <p></p>
    </section>
    <section>
        <h3>Lenguajes de Contexto</h3>
        <p>Los lenguajes Contexto son ...</p>
        <h4>PDA</h4>
        <p></p>

        <h4>CFG</h4>
        <p></p>
       
        <h4>CNF</h4>
        <p></p>                                
    </section>
    <section>
        <h3>Lenguajes de Decidibles</h3>
        <p>Los lenguajes Decidibles son ...</p>                            
        <h4>Turing Machine</h4>
        <p></p>   
    </section>
</section>

<section>
    <h2><i class="fa fa-code-fork fa-3x" aria-hidden="true"></i>Desarrolladores </h2>
    <li>Carlos Morazán</li>
    <li>David Discua</li>
    <li>Dennis Cheong</li>   
    <li>Katherine Lozano</li>
</section>

<section>
    <h2><i class="fa fa-github fa-3x" aria-hidden="true"></i>GitHub </h2>
    El código fuente de la aplicación se encuentra en Github en el siguiente enlace :
    <a href="https://github.com/DavidDiscua/TeoriaDeLaComputacion">Proyecto Teoría de la Computación.</a>
</section>  